
<!-- Band -->
<div id="bioSection" class="w3-container w3-white w3-margin w3-padding-large">
    <br />
    <br />
    <div class="w3-center">
        <h3>Biography</h3>
        <h5>I have a blues Before sunrise.. <span class="w3-opacity">May 2, 2016</span></h5>
    </div>

    <div class="w3-justify line_height_2">
        <img src="./img/bioMain.jpg" alt="bioMain" style="width:100%" class="w3-padding-16">
   
        <p>
            <strong> Euy Shick Hong,</strong> (born 1980, Republic of Korea) is a Computer musician, a Software engineer, Jazz Saxophonist.
            Now he works in IT company as a software engineer(2016 ~) and ICMT(Institute for Computer Music and technology)  playing saxophone with musical works. And he is planning to develop a web application with Javascript, Python, Node.js, etc and web technology.
        </p> 
        <br />
      
        <p>               
            <img src="./img/delta.jpg" class="img_center" style="width:60%">  
            In 2002, he performed in  ROKA BAND with guitar, saxophone and participated
            2002 Korea-Japan World cup and 2002 Busan Asian Game.

            In 2004, he studied Jazz Saxophone at Delta Community Music School in Canada and 
            led  Hong euy shick  Jazz quartet that had lots of Jazz works such as club, concert, Jazz festival, album.
        </p>
        <p>  
            In 2009, He attended <a href="http://marte.dongguk.edu" target="_blink">MARTE  [4]</a> at Dongguk University and studied  computer music, Interactive performance, sound synthesis with a saxophone.
            Also, he joined  <a href="https://www.youtube.com/watch?v=b3RpjOUMdwg" target="_blink">resonation [5][video] </a> and won a silver prize in The 10th, Computer music and sound competition 2009. Furthermore, he first album "Dr.Hong" that is jazz, blues Music        
             <a href="./page/music.html" target="_blank">[album]</a>.
            In 2010 he released an album "Do you like apple?" <a href="./page/music.html" target="_blank">[album]</a>and played a"sprit" that is  interactive perform with Max/MSP, Quartz Composer <a href="https://youtu.be/vKvjo14Tm-U" target="_blink">[8][video] </a>.
        </p>
        <p> 

            In 2011 he gets M.M(Master of Music in Computer Music)[8] in MARTE and  performed <a href="https://youtu.be/CV3jnZFA5Xg" target="_blink"> "Endure" </a>
            also he released 3 albums that "butter fry", "blue garlic", "Interaktive"<a href="./page/music.html" target="_blank">[album]</a>.
            he interviewed aliceon media art channer<a href="https://aliceon.tistory.com/1712" target="_blank">[11]</a>.
        </p>

        https://youtu.be/CV3jnZFA5Xg
        <p> 
            in 2012 he played  "Arirang"[14][video] that is interactive performance by Tae Pyoung so [16] as traditinal instriment in korea and was invitied radio show (pic) and played saxophone and interviewed.


            In 2014 he released "Arirang" album[1]
            and papers that "A study on timbre analysis of saxophone sound by different mouthpieces"
            (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2014) [18]


            In 2015 he released "Arirang second story", "Forest of owl" album [1] and 
            Saxophone Method of Miracle(ISBN:312-4324-431-234 ,Realise media, 2015)[20]
            also he released "A study on timbre analysis of saxophone sound by different reeds"(Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2015)[22]
            he perform "arirang second storyt" with Dr.Saxohone.[28][video]


            in 2016 he studied a phsical computing and made "RC CAR" [24]  AND published "Physical Computing with Arduino"(ISBN:312-4324-431-234 , Realise media, 2016)[26] 
            also he works "Dr.Saxophone : Hybrid saxophone interface"
            (Euy shick Hong, Baron Kim, Kiyeor Han, The 3rd International Conference on Systems and Informatics 2016(SCOPUS))[28] and  "A study on sound analysis and saxophone technique in Claudio Gabriele’s [ARRIFLEX 35]" (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2016) [30]
            he developed " play the light of monet" and exahibated  it is intereactive web audio/visual networking system.[32][video]
            aldo he perform "White Night" with Dr.Saxohone 2 and drsaxomand that web audio application[34][videos].
            since now, he works IT COMPANY WEB TECHNOLOGY such as Javascript, Node.js, React.js


            In 2017 he studied "composition 2017"[36][videos] that interactive media installation works.
            and he released "Interactive Web Audio Networking System and Method with DrSax.js"
            (Euy shick Hong, Jun Kim, the 3rd International Conference on Communication and Information 2017 Tokyo uni. (SCOPUS))[38], "Play the light of Monet : Interactive web audio/visual networking system"
            (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2017)[40], 
            "Drsax.js: a javascript based unified web audio library and framework"(Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)) [42], "Telesaxophone: hybrid Saxophone interface"(Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)) [44], "Webxophone: web audio wind instrument" (Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)) [46].


            In 2018 he released  "A Study of Hybrid Saxophone Interface for Interactive Networking System"(Euy shick Hong, Jun Kim, Asia-pacific Journal of Multimedia services convergent with Art,and Humanities Sociology 2018 (KCI)) [48].

            In 2019he complieted "A study of Interactive Web Application through Web-based Audio Library Development"(Doctoral Dissertation, 2019) )[50]
            drsx,js, drEditor, DrWebSAX, composition 2017


            now He works in ICMT AND IT company playing saxophone with musical works.
            and i am planing to develp web applicaiont with javascirpt, python, Node.js, etc  and web thechnology.
        </p>

        <div>
            <div>
                <a class="w3-block" href="http://marte.dongguk.edu" target="_blink">
                    [4] MARTE(The Laboratory of Musical Arts and Technology) in Dongguk University.
                </a>
                <a class="w3-block" href="https://www.youtube.com/watch?v=b3RpjOUMdwg" target="_blink">
                    [5] Resonation : telematic interactive networking concert at San Diego and New York in USA, Banff and Alberta in CANADA, Belfast and Northern Ireland in UK.
                </a>
                <a class="w3-block" href="https://youtu.be/vKvjo14Tm-U" target="_blink">
                    [8] SPIRIT : is a interactive multimedia music composition using a saxophone, sound effects and real-time processed visual image. 
                </a>
                <a  href="./page/paper.html#masterThesis" target="_blink">
                    Master Thesis.
                </a>.

            </div>
 
        </div>
    
    </div>
</div>
<hr>

