
<!-- Band -->
<div id="bioSection" class="w3-container w3-white w3-margin w3-padding-large">
    <br />
    <br />
    <div class="w3-center">
        <h3>Biology</h3>
        <h5>I have a blues Before sunrise.. <span class="w3-opacity">May 2, 2016</span></h5>
    </div>

    <div class="w3-justify">
        <img src="./img/sax3.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
        <p>
            <strong> Euy Shick Hong,</strong> (born 1980, Republic of Korea) is a Computer musician, Software engineer, jazz Saxophonist.
            firstly, He joined music band with guitar and saxophone after high school.(pic) 
            A few years later he performed in  ROKA BAND [1] with guitar, saxophone(pic) and participated
            2002 korea.japan world cup[2] and 2002 Busan asian game [3](pic).


            In 2004, he studied Jazz Saxophone at Delta community music school in Canada(pic) and 
            led  Hong euy shick  jazz quartet(pic) that had lots of jazz works such as club, concert, jazz festival, album. pic


            In 2009, He attended MARTE [4] at Dongguk university and studied  computer music, Interactive performance, sound synthesis with saxophone.
            Also he joined resonation [5][video] and won a silver prize in The 10th, Computer music and sound competition 2009. futhmore, he first album "Dr.Hong" that is jazz, blues Music [6].
            in 2010 he relesed album "Do you like apple?"[7] and played a"sprit" that is  interactive perfome with Max/MSP, Quartz Composer [8][video].


            In 2011 he get a M.M(Master of Music in Computer Music)[10] in MARTE and  performed a"Endure"
            also he relesed 3 albums that "butter fry", "blue garlic", "Interaktive".[1]
            he interviewd aloceon media art chnner[12].


            in 2012 he played  "Arirang"[14][video] that is interactive performance by Tae Pyoung so [16] as traditinal instriment in korea and was invitied radio show (pic) and played saxophone and interviewed.


            In 2014 he released "Arirang" album[1]
            and papers that "A study on timbre analysis of saxophone sound by different mouthpieces"
            (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2014) [18]


            In 2015 he released "Arirang second story", "Forest of owl" album [1] and 
            Saxophone Method of Miracle(ISBN:312-4324-431-234 ,Realise media, 2015)[20]
            also he released "A study on timbre analysis of saxophone sound by different reeds"(Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2015)[22]
            he perform "arirang second storyt" with Dr.Saxohone.[28][video]


            in 2016 he studied a phsical computing and made "RC CAR" [24]  AND published "Physical Computing with Arduino"(ISBN:312-4324-431-234 , Realise media, 2016)[26] 
            also he works "Dr.Saxophone : Hybrid saxophone interface"
            (Euy shick Hong, Baron Kim, Kiyeor Han, The 3rd International Conference on Systems and Informatics 2016(SCOPUS))[28] and  "A study on sound analysis and saxophone technique in Claudio Gabriele’s [ARRIFLEX 35]" (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2016) [30]
            he developed " play the light of monet" and exahibated  it is intereactive web audio/visual networking system.[32][video]
            aldo he perform "White Night" with Dr.Saxohone 2 and drsaxomand that web audio application[34][videos].
            since now, he works IT COMPANY WEB TECHNOLOGY such as Javascript, Node.js, React.js


            In 2017 he studied "composition 2017"[36][videos] that interactive media installation works.
            and he released "Interactive Web Audio Networking System and Method with DrSax.js"
            (Euy shick Hong, Jun Kim, the 3rd International Conference on Communication and Information 2017 Tokyo uni. (SCOPUS))[38], "Play the light of Monet : Interactive web audio/visual networking system"
            (Euy shick Hong, Jun Kim, In Proceedings of Engineering and Art Society of Korea Conference, Korea 2017)[40], 
            "Drsax.js: a javascript based unified web audio library and framework"(Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)) [42], "Telesaxophone: hybrid Saxophone interface"(Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)) [44], "Webxophone: web audio wind instrument" (Euy shick Hong, Jun Kim, International Conference on Algorithms, Computing and Systems 2017 (SCOPUS)) [46].


            In 2018 he released  "A Study of Hybrid Saxophone Interface for Interactive Networking System"(Euy shick Hong, Jun Kim, Asia-pacific Journal of Multimedia services convergent with Art,and Humanities Sociology 2018 (KCI)) [48].

            In 2019he complieted "A study of Interactive Web Application through Web-based Audio Library Development"(Doctoral Dissertation, 2019) )[50]
            drsx,js, drEditor, DrWebSAX, composition 2017


            now He works in ICMT AND IT company playing saxophone with musical works.
            and i am planing to develp web applicaiont with javascirpt, python, Node.js, etc  and web thechnology.
        </p>

        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.

        </p>
    
    </div>
</div>
<hr>

