
<!-- Main -->
<div class="w3-container w3-white w3-margin w3-padding-large">
    <br />
    <div class="w3-center">
        <h3>Who is DrHong</h3>
        <h5>DrHong is going.. <span class="w3-opacity">Aug 2, 2019</span></h5>
    </div>

    <div class="w3-justify">
        <img src="/w3images/girl_hat.jpg" alt="Girl Hat" style="width:100%" class="w3-padding-16">
        <p><b>Euy Shick Hong(DrHong),</b> (born 1980, Republic of Korea) is a computer musician, software engineer, Jazz Saxophonist.
            He completed a D.M.A (Doctor of Musical Arts) in Computer Music and Composition at MARTE(The Laboratory of Musical Arts and Technology) in Dongguk University.
        </p>
        <P>
            Doctoral dissertation is "A study of Interactive Web Application through Web-based Audio Library Development" by Web technology such as Javascript, Web Audio API, Node.js in 2019.
        </P>
        <p>
            In MARTE, he studied sound synthesis, sound analysis, interactive performance, HCI, physical computing with arduino, programming and  published  papers, books while playing the saxophone for concerts and albums.
        </p>
        <P>
            Now He works as a software engineer in IT company (Javascript, MySQL, React, Node.js..), and CTO at ICMT(institute of computer music and technology) playing the saxophone.
        </P>
        <hr />
        <div>
            <h3>Education</h3>
            <ul>
                <li>
                    <span><b>Dongguk University, D.M.A in Computer Music and Composition</b> 2019</span>
                    <div class="px_10">MARTE(The Laboratory of Musical Arts and Technology)</div>
                </li>
                <li>
                    <span><b>Yonsei University, Master in computer Engineering, leave of absence </b> 2018</span>
                    <div class="px_10">Graduate School of Engineering, Computer Engineering</div>
                </li>
                <li>
                    <span><b>Dongguk University, M.M in Computer Music </b> 2011</span>
                    <div class="px_10">MARTE(The Laboratory of Musical Arts and Technology)</div>
                </li>
                <li>
                    <span><b>Deltal Community Music School </b> 2004</span>
                    <div class="px_10">Jazz Saxophone</div>
                </li>
            </ul>
        </div>
        <div>
            <h3>Papers</h3>
            <ul>
                <li>
                    <span><b>"A study of Interactive Web Application through Web-based Audio Library Development"</b> 2019</span>
                    <div class="px_10">Doctoral Dissertation</div>
                </li>
                <li>
                    <span><b>"Audio-visual performance by real-time timbre analyze of saxophone" </b> 2011</span>
                    <div class="px_10">Master Thesis</div>
                </li>
                <li>
                    <span><b>Dongguk University, M.M in Computer Music </b> 2011</span>
                    <div class="px_10">MARTE(The Laboratory of Musical Arts and Technology)</div>
                </li>
                <li>
                    <span><b>Deltal Community Music School </b> 2004</span>
                    <div class="px_10">Jazz Saxophone</div>
                </li>
            </ul>
        </div>

    </div>
</div>
<hr>
