<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
      <a href="#contentsId" class="w3-bar-item w3-button w3-padding-large">DrHong</a>
      <a href="#bandSection" class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="bandEvent">BAND</a>
      <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small" id="tourEvent">Papers</a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Published</a>
      <div class="w3-dropdown-hover w3-hide-small">
        <button class="w3-padding-large w3-button" title="More">Published <i class="fa fa-caret-down"></i></button>     
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="#" class="w3-bar-item w3-button">Papers</a>
          <a href="#" class="w3-bar-item w3-button">Books</a>
          <a href="#" class="w3-bar-item w3-button">Albums</a>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
  <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
  </div>
